@import '../../styles//variables';

.badge-wrapper {
  display: inline-block;
  padding: 4px 6px;
  line-height: 1;
  border-radius: 6px;
  font-size: 14px;
  background-color: $gray;
  color: $lima;
}
