.blinking-point {
  position: relative;
  display: inline-block;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background-color: #ca5dc3;
  transition: all .95s cubic-bezier(0.165, 0.84, 0.44, 1);

  &::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    width: 12px;
    height: 12px;
    background-color: transparent;
    border: 1px solid #ca5dc3;
    border-radius: 50%;
    transform: scale(0.1, 0.1);
    opacity: 0;
    animation: pulse 1.7s ease-out infinite;
  }
}

.moon {
  position: absolute;
  right: 115px;
  top: 60px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 0 160px 0px #fff, 0 0 30px -4px #fff, 0 0 8px 2px rgba(255, 255, 255, 0.26);
  background-color: #fff;

  .moon-texture {
    background-image: url('../assets/backgrounds/moon-texture.png');
    background-position: center;
    background-size: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0.4;
  }
}

.company-title {
  font-family: "Permanent Marker";
  font-size: 55px;
  letter-spacing: 5px;
  color: #fff;
  text-align: center;
}
