.form-row {
  display: block;
  margin: 0 0 15px;
}

.form-label {
  display: block;
  margin-bottom: 4px;
}

.form-error {
  margin-top: 3px;
  color: #ef4178;
  font-size: 14px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  display: block;
  width: 100%;
  padding: 8px 12px;
  background: #32364a;
  color: #afb1be;
  outline: none;
  font-family: $main-font;
  border: 1px solid #393d52;
  border-radius: 4px;
  transition: border-color .2s;

  &:focus {
    border-color: #8c8b92;
  }

  &.inline {
    display: inline-block;
  }

  &.input-invalid {
    border-color: #ef4178;
  }
}

.form-box {
  position: relative;
  width: 400px;
  padding: 40px 25px;
  background: #35394a;
  background: linear-gradient(45deg, #11171d 0%, #232942 100%);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    opacity: .6;
    height: 1px;
    background: #ca5dc3;
    box-shadow: 0px 0px 10px 2px #793d75;
  }
}
