@import '../../styles/variables';

.forgot-password-page {
  height: 100%;
}

.forgot-password-wrapper {
  .blinking-point {
    vertical-align: middle;
  }

  .forgot-password-text {
    margin-bottom: 25px;
  }

  .signin-meta {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .link {
    color: $curiousBlue;
  }

  .no-account {
    margin-top: 30px;
    font-size: 14px;
  }
}
