.forgot-password-wrapper {
  .blinking-point {
    vertical-align: middle;
  }

  .forgot-password-text {
    margin-bottom: 25px;
  }

  .redirect-message {
    color: #ca5dc3;
  }

  .redirect-text {
    margin-bottom: 6px;
  }

  .redirect-link {
    font-size: 14px;
  }

  .signin-meta {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .no-account {
    margin-top: 30px;
    font-size: 14px;
  }
}
