.auth-signup {
  .signup-title {
    margin-bottom: 30px;
    font-size: 18px;
    color: #afb1be;
    font-weight: normal;
  }

  .account-exists {
    margin-top: 30px;
    font-size: 14px;
  }

  .button {
    margin-top: 30px;
  }

  .auth-error {
    margin-top: 15px;
  }
}
