.auth-signin {
  .auth-title {
    font-size: 18px;
    color: #afb1be;
    font-weight: normal;
    margin-bottom: 30px;
  }

  .signin-meta {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .no-account {
    margin-top: 30px;
    font-size: 14px;
  }

  .auth-error {
    margin-top: 15px;
  }
}
